@import url(./css/global.css);
@import url(./css/header.css);

.home-foco {
    border-top: 5px solid #08244d;
    padding-top: 2.3rem;
}

body {
    background-color: var(--verde-1);
    height: 100px;
    overflow: hidden;
}

main h1 {
    /*223*/
    padding-top: 200px;
    padding-inline-start: 3rem;
    font-weight: 700;
    font-size: 77.1px;
    color: var(--amarelo-1);
}

main h2 {
    padding-inline-start: 3rem;
    padding-bottom: 50px;
    font-size: 21.1px;
    font-style: italic;
    color: var(--amarelo-1);
}

.bandeira {
    margin-top: -19rem;
}