@import url(./css/global.css);
@import url(./css/header.css);

.home-foco {
    border-top: 0.313rem solid var(--azul-3);
    padding-top: 2.3rem;
}

body {
    background-color: var(--verde-1);
    height: 6.25rem;
    overflow: hidden;
}

main h1 {
    padding-top: 12.5rem;
    padding-inline-start: 3rem;
    font-weight: 700;
    font-size: 4.819rem;
    color: var(--amarelo-1);
}

main h2 {
    padding-inline-start: 3rem;
    padding-bottom: 3.125rem;
    font-size: 1.319rem;
    font-style: italic;
    color: var(--amarelo-1);
}

.bandeira {
    margin-top: -19rem;
}