@import url(../css/global.css);
@import url(../css/header.css);
 
.cultura-foco {
    border-top: 0.313rem solid var(--azul-3);
    padding-top: 2.3rem;
}
main {
    padding-top: -3.125rem;
}
body {
    background-color: var(--verde-1);
    height: 6.25rem;
    overflow: hidden;
}

main h1 {
    padding-top: 5.938rem;
    font-weight: 700;
    font-size: 4.819rem;
    color: var(--amarelo-1);
}

main p {
    padding-bottom: 1.5rem;
    font-size: 1.319rem;
    color: var(--amarelo-1);
}

.conteudo {
    display: flex;
    gap: 1.25rem;
}

.texto p {
    margin-bottom: 0.938rem; 
}

.texto {
    margin-left: 9.375rem;      
    margin-right: 6.25rem;
}

.texto h1 {
    margin-bottom: 1.875rem;
}


.pandeiro-paragrafo {
    display: flex;
    justify-content: row;
}

.img-cultura {
    padding-top: -0.938rem;
    width: 93.75rem;
    border-top-right-radius: 0.313rem;
}

.pandeiro {
    width: 9.375rem;
    height: 5rem;
    margin-right: 1.25rem;
}
