@import url(../css/global.css);
@import url(../css/header.css);

.historia-foco {
    border-top: 5px solid #08244d;
    padding-top: 2.3rem;
}

body {
    background-color: var(--verde-1);
    color: var(--amarelo-1);
    height: 100px;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: space-between;
}

main div {
    width: 700px;
}

main h1 {
    font-size: 87px;
    padding-left: 130px;
    margin-top: 20px;
}

.lado-a-lado {
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lado-a-lado img {
    width: 9%;
    height: auto;
}

.lado-a-lado h2 {
    padding-left: 25px;
    padding-top: 5px;
}


.dentro {
    margin-top: -180px;
}

main h2 {
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
}


.parte1 p {
    padding-left: 75px;
    padding-bottom: 25px;
    font-size: 18px;
}

.descobrimento-brasil {
    width: 700px;
    height: 300px;
}

.parte2 img{
    width: 700px;
    height: 300px;
}

.textos {
    display: flex;
    flex-direction: column; /* Organiza os itens verticalmente */
    gap: 10px; /* Controla o espaçamento entre os elementos */
}

.textos p {
    padding-inline: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.textos h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 0; /* Remove margens extras ao redor do título */
}

.parte2 {
    background-color: var(--azul-1);
}

.inicialmente {
    margin-top: 15px;
}


