@import url(../css/global.css);
@import url(../css/header.css);

.historia-foco {
    border-top: 0.313rem solid var(--azul-3);
    padding-top: 2.3rem;
}

body {
    background-color: var(--verde-1);
    color: var(--amarelo-1);
    height: 6.25rem;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: space-between;
}

main div {
    width: 43.75rem;
}

main h1 {
    font-size: 5.438rem;
    padding-left: 8.125rem;
    margin-top: 1.25rem;
}

.lado-a-lado {
    display: flex;
    justify-content: flex-start;
    padding-left: 3.125rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.lado-a-lado img {
    width: 9%;
    height: auto;
}

.lado-a-lado h2 {
    padding-left: 1.563rem;
    padding-top: 0.313rem;
}

.dentro {
    margin-top: -11.25rem;
}

main h2 {
    font-style: italic;
    font-weight: 700;
    font-size: 1.25rem;
}

.parte1 p {
    padding-left: 4.688rem;
    padding-bottom: 1.563rem;
    font-size: 1.125rem;
}

.descobrimento-brasil {
    width: 43.75rem;
    height: 18.75rem;
}

.parte2 img{
    width: 43.75rem;
    height: 18.75rem;
}

.textos {
    display: flex;
    flex-direction: column; 
    gap: 0.625rem; 
}

.textos p {
    padding-inline: 1.25rem;
    padding-bottom: 0.938rem;
    font-size: 1.125rem;
}

.textos h2 {
    padding-top: 1.563rem;
    padding-bottom: 0.313rem;
    padding-left: 1.25rem;
}

.parte2 {
    background-color: var(--azul-1);
}

.inicialmente {
    margin-top: 0.938rem;
}

.descobrimento-brasil {
    border-top-right-radius: 0.313rem;
}

.escravidao-negros {
    border-top-left-radius: 0.313rem;
}


